WAYS TO DEAL WITH NA's IN DATAFRAMES

In [1]:
import pandas as pd
x=pd.DataFrame({'Name':['john','bob','ryan','kim'],
                'Age':[20,25,None,30],
                'City':['nyc','london',None,'seoul']})
x

   Name   Age    City
0  john  20.0     nyc
1   bob  25.0  london
2  ryan   NaN    None
3   kim  30.0   seoul

In [ ]:
x_droprows=x.dropna(axis=0)     #dropna
display(x_droprows)

   Name   Age    City
0  john  20.0     nyc
1   bob  25.0  london
3   kim  30.0   seoul

In [ ]:
x_fill=x.fillna('delete')    #fillna
x_fill

   Name     Age    City
0  john    20.0     nyc
1   bob    25.0  london
2  ryan  delete  delete
3   kim    30.0   seoul

In [ ]:
x['Age']=x['Age'].fillna(x['Age'].mean())  #based on conditon
x

   Name   Age    City
0  john  20.0     nyc
1   bob  25.0  london
2  ryan  25.0    None
3   kim  30.0   seoul

GROUPBY OPERATIONS ON DATAFRAME

In [2]:
ipl_data = {'Team': ['Riders', 'Riders', 'Devils', 'Devils', 'Kings',
'Kings', 'Kings', 'Kings', 'Riders', 'Royals', 'Royals', 'Riders'],
'Rank': [1, 2, 2, 3, 3,4 ,1 ,1,2 , 4,1,2],
'Year': [2014,2015,2014,2015,2014,2015,2016,2017,2016,2014,2015,2017],
'Points':[876,789,863,673,741,812,756,788,694,701,804,690]}
df = pd.DataFrame(ipl_data)
display (df)

      Team  Rank  Year  Points
0   Riders     1  2014     876
1   Riders     2  2015     789
2   Devils     2  2014     863
3   Devils     3  2015     673
4    Kings     3  2014     741
5    Kings     4  2015     812
6    Kings     1  2016     756
7    Kings     1  2017     788
8   Riders     2  2016     694
9   Royals     4  2014     701
10  Royals     1  2015     804
11  Riders     2  2017     690

In [9]:
g=df.groupby('Team').groups
g

{'Devils': [2, 3], 'Kings': [4, 5, 6, 7], 'Riders': [0, 1, 8, 11], 'Royals': [9, 10]}

In [10]:
g=df.groupby('Team')
g.get_group('Devils')

     Team  Rank  Year  Points
2  Devils     2  2014     863
3  Devils     3  2015     673

In [5]:
import numpy as np
g.agg(np.size)

        Rank  Year  Points
Team
Devils     2     2       2
Kings      4     4       4
Riders     4     4       4
Royals     2     2       2